.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
  justify-content: center;
  width: 1300px;
  margin: 75px auto;
}

.cards__text {
  color: white;
  margin-top: 0;
}

.cards__text h2 {
  font-family: 'Wix Madefor Display', sans-serif;
  margin-top: 50px;
  margin-bottom: 0px;
  letter-spacing: 9.8px;
  font-size: 65px;
}

.cards__text p {
  font-family: 'Work Sans', sans-serif;
  margin: auto;
  font-size: 47px;
  letter-spacing: 7px;
}

.card {
  display: flex;
  width: 400px;
  height: 600px;
  border-radius: 3px;
  box-shadow: 0 0 5px rgb(167, 166, 166);
  border: 1px rgb(72, 68, 68);
  background-color: rgb(25,25,25);
}

.card__content {
  color: white;
  text-align: center;
  overflow: hidden;
}

.card__image {
  width: 400px;
  height: 400px;
  transform: scale(1.0);
  overflow: hidden;
  z-index: 6;
}

.card__image img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
}

.card__content__text {
  background-color: rgb(25,25,25);
  height: 200px;
  width: 400px;
  z-index: 7;
  margin-top: 0;
  overflow: hidden;
}

.card__content__text h4 {
  margin: 0;
  padding: 25px;
  font-family: 'Wix Madefor Display', sans-serif;
  font-size: 35px;
  letter-spacing: 3px;
  z-index: 7;
}

.card__content__text p {
  margin: 0 auto;
  font-family: 'Work Sans', sans-serif;
  width: 300px;
  font-size: 20px;
  letter-spacing: 2px;
}

.card__content:hover img,
.card__content:focus img {
  transform: scale(1.05);
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
}

.card__content:hover,
.card__content:focus {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  box-shadow: 0 0 8px rgb(170,93,29);
}
